<div style="" class="bg-green-400">
  <div class="w-full flex items-end lg:flex-row flex-col justify-center" id="cart">
    <!-- <div class="lg:w-4/5 md:w-8/12 w-full lg:px-8 lg:py-14 md:px-6 px-4 md:py-8 py-4 bg-white dark:bg-gray-800 overflow-y-hidden overflow-x-hidden lg:h-screen h-auto" id="scroll"> -->
    <div class=" w-full lg:px-8 lg:py-14 md:px-6 px-4 md:py-8 p-4 bg-white dark:bg-gray-800 overflow-y-hidden overflow-x-hidden lg:h-screen h-auto" id="scroll">
      <div class="h-full overflow-y-auto">
        <div class=" overflow-x-hidden">
          <ng-container *ngFor="let item of items">
            
            <p class="lg:text-2xl text-2xl font-black leading-10 text-gray-800 dark:text-white pt-3">{{item.category}}</p>
            <div class="md:flex items-strech py-2 md:py-2 lg:py-2 border-t border-gray-50">
              <div class="w-1/2">
                <img [src]="item.image_url" alt="Black Leather Bag" class="h-full object-center object-cover md:block hidden" />
              </div>
              <div class="md:pl-3 w-1/2 flex flex-col justify-center">
                <div class="flex items-center justify-between w-full pt-1">
                  <p class="text-base font-black leading-none text-gray-800 dark:text-white">{{item.product_name}}</p>
                </div>
                <div class="grid grid-cols-2 gap-1 mt-2">
                    <div class="text-md leading-3 text-gray-600 dark:text-white pt-2">Vendor:</div>
                    <div class="text-md leading-3 text-gray-600 dark:text-white pt-2">{{item.vendor}}</div>
                </div>
                <div class="grid grid-cols-2 gap-1 mt-2">
                    <div class="text-md leading-3 text-gray-600 dark:text-white pt-2">Price:</div>
                    <div class="text-md leading-3 text-gray-600 dark:text-white pt-2">{{item.price}}</div>
                </div>
                <div class="grid grid-cols-2 gap-1 mt-2">
                    <div class="text-md leading-3 text-gray-600 dark:text-white pt-2">Quantity:</div>
                    <div class="text-md leading-3 text-gray-600 dark:text-white pt-2">{{item.count}}</div>
                </div>
                <div class="grid grid-cols-2 gap-1 mt-2">
                    <div class="text-md leading-3 text-gray-600 dark:text-white pt-2">Size:</div>
                    <div class="text-md leading-3 text-gray-600 dark:text-white pt-2">{{item.size}}</div>
                </div>
                <div class="grid grid-cols-2 gap-1 mt-2">
                    <div class="text-md leading-3 text-gray-600 dark:text-white pt-2">Material:</div>
                    <div class="text-md leading-3 text-gray-600 dark:text-white pt-2">{{item.material}}</div>
                </div>
                <div class="flex items-center justify-between pt-5">
                  <div class="flex itemms-center">
                    <p class="leading-3 underline text-blue-600 dark:text-white cursor-pointer">Save for later</p>
                    <p class="leading-3 underline text-red-500 pl-5 cursor-pointer">Delete</p>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
  
    </div>
    <div class="lg:w-96 md:w-8/12 w-full bg-gray-100 dark:bg-gray-900 h-full">
      <div class="flex flex-col lg:h-screen h-auto lg:px-8 md:px-7 px-4 lg:py-20 md:py-10 py-6 justify-between overflow-y-auto">
        <div>
          <p class="lg:text-2xl text-2xl font-black leading-9 text-gray-800 dark:text-white">Summary</p>
          <div class="flex items-center justify-between pt-16">
            <p class="text-base leading-none text-gray-800 dark:text-white">Subtotal</p>
            <p class="text-base leading-none text-gray-800 dark:text-white"></p>
          </div>
          <div class="flex items-center justify-between pt-5">
            <p class="text-base leading-none text-gray-800 dark:text-white">Shipping</p>
            <p class="text-base leading-none text-gray-800 dark:text-white"></p>
          </div>
          <div class="flex items-center justify-between pt-5">
            <p class="text-base leading-none text-gray-800 dark:text-white">Tax</p>
            <p class="text-base leading-none text-gray-800 dark:text-white"></p>
          </div>
        </div>
        <div>
          <div class="flex items-center pb-6 justify-between lg:pt-5 pt-20">
            <p class="text-2xl leading-normal text-gray-800 dark:text-white">Total</p>
            <p class="text-2xl font-bold leading-normal text-right text-gray-800 dark:text-white"></p>
          </div>
          <button onclick="checkoutHandler1(true)" class="text-base leading-none w-full py-5 bg-gray-800 border-gray-800 border focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 text-white dark:hover:bg-gray-700">Checkout</button>
        </div>
      </div>
    </div>
  </div>
</div>