<div class="m-2">
  <h2 class="ml-2 text font-bold text-gray-600">
    Sizes
    <mat-icon [tp]="tpl" tpVariation="popper" tpPlacement="bottom"
      ><span class="cursor-pointer text-sm">help</span></mat-icon
    >
  </h2>
  <div class="flex_wrap bg-gray-100">
    <button
      *ngFor="let size of aSizes"
      type="button"
      class="box-size flex items-center justify-center cursor-pointer hover:text-blue-500"
      [ngClass]="{
        sel_class: size.selected,
        'bg-blue-200': size.category === 'US',
        'bg-green-200': size.category === 'KR'
      }"
      (click)="handleClick(size)"
    >
      {{ size.name }}
    </button>
  </div>
  <form [formGroup]="sizeFormGroup">
    <div formArrayName="sizeArray">
      <div class="flex justify-center">
        <div
          *ngFor="let size of nSizes; let i = index"
          class="flex flex-col items-center justify-center m-2"
        >
          <span class="text-blue-600 font-semibold mr-2">{{ size.name }}</span>
          <input
            type="number"
            class="w-16 text-center"
            [formControlName]="i"
            placeholder="Qty"
          />
        </div>
        <ng-container *ngIf="sizeFormGroup.get('sizeArray')">
          <button
            (click)="onAddSize()"
            type="button"
            class="bg-green-600 text-white rounded mt-4 px-2 h-8"
          >
            +
          </button>
        </ng-container>
      </div>
    </div>
  </form>
  <h2 class="ml-2 text font-bold text-gray-600">Selected Size Menu</h2>
  <div class="flex flex-wrap">
    <ng-container *ngFor="let size of selectedSizes">
      <button
        class="mt-2 border border-green-500 rounded-full px-2 mx-1 text-gray-500 hover:text-blue-600 focus:outline-none focus:border-blue-500 active:text-blue-500 button-group"
        [value]="size"
      >
        <div class="flex items-center">
          <span class="text-sm text-gray-700 hover:text-blue-600">{{
            size
          }}</span>
          <button (click)="removeSizeMenu(size)">
            <mat-icon class="ml-2 mt-1 text-gray-400">cancel</mat-icon>
          </button>
        </div>
      </button>
    </ng-container>
  </div>
  <ng-container *ngIf="selectedSizes.length > 0">
    <button
      type="button"
      class="bg-green-600 hover:bg-green-800 text-white ml-2 py-2 px-4 rounded-md mt-2"
      (click)="onSaveSizeMenu()"
    >
      Save Size Menu
    </button>
  </ng-container>
</div>
<ng-template #tpl let-hide>
  <video class="w-96" controls="">
    <source
      src="https://wsjung0516.s3.us-west-1.amazonaws.com/offprice/design-size-menu-2023-07-04.mp4"
      type="video/mp4"
    />
  </video>
  <div class="">
    <h3 class="text-blue-600">Design Size Menu</h3>
    <ul class="list-decimal ml-6">
      <li>
        This feature allows sellers to easily, quickly, and accurately register their products by specifying the sizes commonly used by users.
      </li>
      <li>
        Select the sizes of the clothes you typically use. Select them in bundles. For example, (S, M, XL).
      </li>
      <li>
        Enter the quantity for each selected size.
      </li>
      <li>
        Once all the quantities are entered, click the "+" button on the right.
      </li>
      <li>
        The entered sizes will be displayed in the "Selected Size Menu".
      </li>
      <li>
        To select multiple sizes, repeat the steps in 2, 3, and 4.
      </li>
      <li>
        After entering all the size variations, click the "Save Size Menu" button.
      </li>
      <li>
        To verify if the saved result has been properly reflected, click the "Register" button in the top menu.
      </li>
      <li>
        Check the menu for Size on the product registration screen.
      </li>
    </ul>
    
  </div>
</ng-template>
