<!--
	Mobile menu, show/hide based on mobile menu state.
	Entering: "duration-200 ease-out"
		From: "opacity-0 scale-95"
		To: "opacity-100 scale-100"
	Leaving: "duration-100 ease-in"
		From: "opacity-100 scale-100"
		To: "opacity-0 scale-95"
-->
<div
  [ngClass]="
     menuService.showMobileMenu()
      ? 'pointer-events-auto scale-100 animate-fade-in-up opacity-100 duration-200'
      : 'pointer-events-none scale-95 opacity-0 duration-100 ease-out'
  "
  class="absolute inset-x-0 top-0 z-10 origin-top-right transform p-2 transition md:hidden"
>
  <div
    class="divide-y-2 divide-gray-50 rounded-lg bg-white shadow-lg ring-1 ring-black ring-opacity-5 dark:bg-night-700"
  >
    <div class="p-5">
      <!-- <div class="pt-5 pb-6"> -->
      <div class="flex items-center justify-between px-5">
        <div>
          <!-- Logo -->
          <div
            class="mr-6 px-2 py-1 border border-blue-600 rounded bg-slate-50"
          >
            <span class="font-semibold text-xl tracking-tight text-green-800"
              >Off<span class="text-2xl text-blue-700">Price</span></span
            >
          </div>
        </div>
        <div class="-mr-2">
          <button
            (click)="toggleMobileMenu()"
            type="button"
            class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-primary-500 hover:bg-gray-100 hover:text-gray-500 dark:text-night-300 dark:hover:bg-night-600 dark:hover:text-night-200"
          >
            <span class="sr-only">Close menu</span>
            <!-- Heroicon name: outline/x -->
            <!-- <svg-icon src="assets/icons/outline/x.svg"> </svg-icon> -->
          </button>
        </div>
      </div>
      <div
        class="scrollbar-thumb-rounded scrollbar-track-rounded overflow-y-auto px-5 scrollbar-thin scrollbar-track-gray-50 scrollbar-thumb-gray-100 dark:scrollbar-thumb-night-500 dark:scrollbar-track-night-600"
      >
        <div class="mt-10 bg-green-50">
          <div class="max-w-screen-xl mx-auto px-5 bg-white min-h-sceen">
            <div class="grid divide-y divide-neutral-200 max-w-xl mx-auto mt-8">
              <div class="mt-12 py-2">
                <details class="group">
                  <summary
                    class="flex justify-between items-center font-medium cursor-pointer list-none"
                  >
                    <span> Size</span>
                    <span class="transition group-open:rotate-180">
                      <svg
                        fill="none"
                        height="24"
                        shape-rendering="geometricPrecision"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="1.5"
                        viewBox="0 0 24 24"
                        width="24"
                      >
                        <path d="M6 9l6 6 6-6"></path>
                      </svg>
                    </span>
                  </summary>
                  <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
                    <app-select-size></app-select-size>
                  </p>
                </details>
              </div>
              <div class="py-2">
                <details class="group">
                  <summary
                    class="flex justify-between items-center font-medium cursor-pointer list-none"
                  >
                    <span> Price Range</span>
                    <span class="transition group-open:rotate-180">
                      <svg
                        fill="none"
                        height="24"
                        shape-rendering="geometricPrecision"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="1.5"
                        viewBox="0 0 24 24"
                        width="24"
                      >
                        <path d="M6 9l6 6 6-6"></path>
                      </svg>
                    </span>
                  </summary>
                  <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
                    <app-price></app-price>
                  </p>
                </details>
              </div>
              <div class="py-2">
                <details class="group">
                  <summary
                    class="flex justify-between items-center font-medium cursor-pointer list-none"
                  >
                    <span> Search Period</span>
                    <span class="transition group-open:rotate-180">
                      <svg
                        fill="none"
                        height="24"
                        shape-rendering="geometricPrecision"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="1.5"
                        viewBox="0 0 24 24"
                        width="24"
                      >
                        <path d="M6 9l6 6 6-6"></path>
                      </svg>
                    </span>
                  </summary>
                  <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
                    <app-search-period></app-search-period>
                  </p>
                </details>
              </div>
              <div class="py-2">
                <details class="group">
                  <summary
                    class="flex justify-between items-center font-medium cursor-pointer list-none"
                  >
                    <span> Color</span>
                    <span class="transition group-open:rotate-180">
                      <svg
                        fill="none"
                        height="24"
                        shape-rendering="geometricPrecision"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="1.5"
                        viewBox="0 0 24 24"
                        width="24"
                      >
                        <path d="M6 9l6 6 6-6"></path>
                      </svg>
                    </span>
                  </summary>
                  <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
                    <app-color></app-color>
                  </p>
                </details>
              </div>
              <div class="py-2">
                <details class="group">
                  <summary
                    class="flex justify-between items-center font-medium cursor-pointer list-none"
                  >
                    <span> Material</span>
                    <span class="transition group-open:rotate-180">
                      <svg
                        fill="none"
                        height="24"
                        shape-rendering="geometricPrecision"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="1.5"
                        viewBox="0 0 24 24"
                        width="24"
                      >
                        <path d="M6 9l6 6 6-6"></path>
                      </svg>
                    </span>
                  </summary>
                  <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
                    <app-material></app-material>
                  </p>
                </details>
              </div>
            </div>
          </div>

          <script>
            // ...
            // extend: {
            //   keyframes: {
            //     fadeIn: {
            //       "0%": { opacity: 0 },
            //       "100%": { opacity: 100 },
            //     },
            //   },
            //   animation: {
            //     fadeIn: "fadeIn 0.2s ease-in-out forwards",
            //   },
            // },
            // ...
          </script>
        </div>
      </div>
    </div>
  </div>
</div>
