<div
  class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center"
>
  <div
    class="bg-white w-11/12 sm:w-2/3 h-5/6 sm:h-4/5 p-4 overflow-y-auto relative"
  >
    <div class="terms">
      <h1 class="text-xl font-bold mt-4 text-blue-600">Terms and Conditions</h1>

      <h2 class="font-bold mt-4">1. Security of the Website</h2>
      <p class="ml-3">
        We strive to ensure the security of the offprice.store website. However, we cannot guarantee the absolute security of the website and any information transmitted or stored on it. Users are responsible for maintaining the confidentiality of their account credentials and are encouraged to use secure passwords.
      </p>
    
      <h2 class="font-bold mt-4">2. Contingency Information</h2>
      <p class="ml-3">
        While we make every effort to provide accurate and up-to-date product details on the website, there may be occasions when the information, including descriptions, images, prices, or availability, may not accurately represent the product. In such cases, we reserve the right to correct any inaccuracies and modify or cancel orders if necessary.
      </p>
    
      <h2 class="font-bold mt-4">3. Reservation of Rights</h2>
      <p class="ml-3">
        offprice.store reserves the right to:</p>
        <ul class="px-4 list-decimal ml-8 mt-4">
          <li>Modify, suspend, or terminate the website or any part thereof, without prior notice.</li>
          <li>Refuse service, terminate accounts, or cancel orders at our discretion.</li>
          <li>Modify or update these Terms and Conditions at any time. It is the user's responsibility to review the Terms periodically.</li>
        </ul>
      
      <h2 class="font-bold mt-4">4. Prohibited Actions</h2>
      <p class="ml-3">
        Sellers are solely responsible for their actions, and offprice.store reserves the right to handle the content provided by sellers and cancel their accounts for violations. In cases where an account is canceled due to a violation of the prohibited actions, offprice.store is not responsible for unused coupons:</p>
        <ul class="px-4 list-decimal ml-8 mt-4">
          <li>Do not infringe upon third-party patents, copyrights, trademarks, trade secrets, moral rights, or other intellectual property rights, or invade privacy.</li>
          <li>Do not post content that is defamatory, obscene, pornographic, lewd, or aggressive.</li>
          <li>Do not post content that discriminates, shows prejudice, engages in racial discrimination, hatred, harassment, or harms individuals or groups.</li>
        </ul>
      
    
      <h2 class="font-bold mt-4">5. Submissions and Feedback</h2>
      <p class="ml-3">
        By submitting any content, suggestions, or feedback to offprice.store, users grant us a non-exclusive, royalty-free, perpetual, and worldwide license to use, modify, reproduce, publish, and distribute such content. Users warrant that they have the necessary rights to grant such a license.
      </p>
    
      <h2 class="font-bold mt-4">6. Intellectual Property</h2>
      <p class="ml-3">
        offprice.store respects intellectual property rights. If you believe your intellectual property rights have been infringed upon on the website, please contact us promptly with the necessary information for us to investigate and take appropriate action.
      </p>
    
      <h2 class="font-bold mt-4">7. Copyright and Infringement Claims</h2>
      <p class="ml-3">
        offprice.store respects the intellectual property of others and expects users to do the same. If you believe that your copyrighted work has been copied or used on the website in a way that constitutes copyright infringement, please follow our designated procedure for reporting such claims.
      </p>
    
      <h2 class="font-bold mt-4">8. Customer Support</h2>
      <p class="ml-3">
        We strive to provide excellent customer support. For any inquiries, assistance, or complaints, please contact our customer support team through the designated channels indicated on the website.
      </p>
    
      <h2 class="font-bold mt-4">9. Other Third-Party Services</h2>
      <p class="ml-3">
        offprice.store may integrate or make use of third-party services, including but not limited to payment processors, shipping providers, or analytics tools. Users agree to comply with the terms and conditions of such third-party services when using them through the offprice.store website.
      </p>
    
      <h2 class="font-bold mt-4">10. Site Features</h2>
      <p class="ml-3">
        offprice.store may introduce new features, functionalities, or services on the website, modify existing features, or discontinue certain features at any time without prior notice.
      </p>
    
      <h2 class="font-bold mt-4">11. Disclaimers and Limitation of Liability</h2>
      <p class="ml-3">
        offprice.store provides the website and its contents on an "as-is" basis. We make no warranties or representations, express or implied, regarding the website's operation, information, content, or products. Users agree to use the website at their own risk.
      </p>
    
      <h2 class="font-bold mt-4">12. Indemnification</h2>
      <p class="ml-3">
        Users agree to indemnify and hold offprice.store, its affiliates, partners, and employees harmless from any claims, damages, liabilities, or expenses arising out of their use of the website or violation of these Terms and Conditions.
      </p>
    
      <h2 class="font-bold mt-4">13. Waiver of Injunctive or Other Equitable Relief</h2>
      <p class="ml-3">
        To the extent permitted by applicable law, users waive any right to seek injunctive or other equitable relief in connection with these Terms and Conditions.
      </p>
    
      <h2 class="font-bold mt-4">14. Governing Law</h2>
      <p class="ml-3">
        These Terms and Conditions shall be governed by and construed in accordance with the laws of [Jurisdiction]. Any disputes arising out of or relating to these Terms and Conditions shall be subject to the exclusive jurisdiction of the courts in [Jurisdiction].
      </p>
    
      <h2 class="font-bold mt-4">15. Rights of Sellers and Buyers</h2>
      <p class="ml-3">
        These Terms and Conditions apply to both sellers and buyers using the offprice.store website. Additional terms and conditions specific to sellers and buyers may be provided within the website's Seller Agreement and Buyer Agreement, respectively.
      </p>
      <!-- Privacy policy -->
      <h1 class="text-xl font-bold mt-4 text-blue-600">Privacy Policy</h1>

      <h2 class="font-bold mt-4">1. Collection and Use of Personal Information</h2>
      <p class="ml-3">
        We collect and use personal information for the following purposes:
      </p>
      <ul  class="px-4 list-decimal ml-8 mt-4">
        <li>Service provision and management: We collect personal information to provide and manage services requested by users.</li>
        <li>Membership management: We process personal information for membership registration, authentication, withdrawal, password changes, and other membership-related activities.</li>
        <li>Customer support and inquiry response: We utilize personal information to respond to user inquiries and requests for support.</li>
      </ul>
    
      <h2 class="font-bold mt-4">2. Types of Personal Information Collected</h2>
      <p class="ml-3">
        We may collect the following types of personal information:
      </p>
      <ul  class="px-4 list-decimal ml-8 mt-4">
        <li>Identity information: Name, phone number, email address, business address, website, store name, store address, etc.</li>
        <li>Access information: IP address, cookies, user agent, etc.</li>
      </ul>
    
      <h2 class="font-bold mt-4">3. Retention and Use Period of Personal Information</h2>
      <p class="ml-3">
        We will immediately destroy personal information upon achieving the purposes of collection and use or retain it in accordance with applicable laws. If we no longer need the collected personal information about you, we may delete, anonymize, or isolate the information from further processing.
      </p>
    
      <h2 class="font-bold mt-4">4. Provision and Outsourcing of Personal Information</h2>
      <p class="ml-3">
        We do not share users' personal information with third parties or outsource it to external companies.
      </p>
    
      <h2 class="font-bold mt-4">5. Security Measures for Personal Information</h2>
      <p class="ml-3">
        We apply reasonable technical, physical, and administrative security measures to protect users' personal information.
      </p>
    
      <h2 class="font-bold mt-4">6. Rights and Inquiries regarding Personal Information</h2>
      <p class="ml-3">
        Users can exercise their rights regarding their personal information, such as access, correction, deletion, or suspension of processing. For inquiries or complaints related to personal information processing, please contact us at <a href="mailto:wonsup.jung@gmail.com">wonsup.jung@gmail.com</a>.
      </p>
    
      <h2 class="font-bold mt-4">7. Analytics</h2>
      <p class="ml-3">
        We may use analytics service providers, including Google Analytics, to collect information about visitors. This may include information on user behavior and demographic statistics within the service. For more information on Google Analytics, please refer to their <a href="https://www.google.com/policies/privacy/partners/">privacy policy</a>. To opt out of Google Analytics tracking, visit <a href="https://tools.google.com/dlpage/gaoptout">this link</a>.
      </p>
    
      <h2 class="font-bold mt-4">8. Social Networking</h2>
      <p class="ml-3">
        If you access our service through third parties or social networking sites, they may collect information about you based on your privacy settings. For example, if you register on offprice.store using Google Login, they may collect your name, profile ID, location, gender, profile picture, and friend list.
      </p>
    
      <h2 class="font-bold mt-4">9. Age of Use</h2>
      <p class="ml-3">
        As stated in the Terms of Service, we do not intentionally collect or request personal information from individuals under the age of 18. If you are under 18, please do not register on our service or provide us with your personal information. If we become aware that we have collected personal information from a child under 18, we will promptly delete such information.
      </p>
    
      <h2 class="font-bold mt-4">10. Security of Personal Information</h2>
      <p class="ml-3">
        You should choose and protect your password appropriately to prevent unauthorized access to your account and personal information. It is also important to log out and restrict computer, device, and browser access after accessing your account. While we make efforts to protect your account and the personal information we hold, we cannot guarantee perfect security.
      </p>
    
      <h2 class="font-bold mt-4">11. Changes to Data</h2>
      <p class="ml-3">
        offprice.store continues to improve its service and may change this Privacy Policy when necessary. Over time, this Privacy Policy may be subject to changes. However, we will notify important changes by posting notices on the <a href="https://offprice.store">offprice.store</a> website or sending emails. If you continue to use the service after the Privacy Policy has been posted, it will be considered as your agreement to the new Privacy Policy.
      </p>    </div>

    <div class="m-5 relative bottom-4 right-4 ">
      <div class="bg-blue-600 hover:bg-blue-800 h-10 w-16 flex items-center justify-center rounded-md">
        <button
          class=" text-white "
          (click)="onClose()"
        >
          Close
        </button>

      </div>
    </div>
  </div>
</div>