<div
  class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center"
>
  <div
    class="bg-white w-11/12 sm:w-2/3 h-5/6 sm:h-4/5 p-4 overflow-y-auto relative"
  >
    <h2 class="text-lg font-semibold mb-4">이용 약관</h2>
    <div class="terms">
      <p>이용 약관의 내용이 여기에 들어갑니다...</p>
      <!-- 이용 약관의 내용을 이곳에 추가하세요. -->
      <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto pariatur eligendi delectus ab porro non qui quia voluptates enim illum amet optio nemo facilis mollitia, corrupti praesentium perferendis obcaecati possimus.</P>
      <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto pariatur eligendi delectus ab porro non qui quia voluptates enim illum amet optio nemo facilis mollitia, corrupti praesentium perferendis obcaecati possimus.</P>
      <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto pariatur eligendi delectus ab porro non qui quia voluptates enim illum amet optio nemo facilis mollitia, corrupti praesentium perferendis obcaecati possimus.</P>
      <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto pariatur eligendi delectus ab porro non qui quia voluptates enim illum amet optio nemo facilis mollitia, corrupti praesentium perferendis obcaecati possimus.</P>
      <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto pariatur eligendi delectus ab porro non qui quia voluptates enim illum amet optio nemo facilis mollitia, corrupti praesentium perferendis obcaecati possimus.</P>
      <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto pariatur eligendi delectus ab porro non qui quia voluptates enim illum amet optio nemo facilis mollitia, corrupti praesentium perferendis obcaecati possimus.</P>
      <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto pariatur eligendi delectus ab porro non qui quia voluptates enim illum amet optio nemo facilis mollitia, corrupti praesentium perferendis obcaecati possimus.</P>
      <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto pariatur eligendi delectus ab porro non qui quia voluptates enim illum amet optio nemo facilis mollitia, corrupti praesentium perferendis obcaecati possimus.</P>
      <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto pariatur eligendi delectus ab porro non qui quia voluptates enim illum amet optio nemo facilis mollitia, corrupti praesentium perferendis obcaecati possimus.</P>
      <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto pariatur eligendi delectus ab porro non qui quia voluptates enim illum amet optio nemo facilis mollitia, corrupti praesentium perferendis obcaecati possimus.</P>
      <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto pariatur eligendi delectus ab porro non qui quia voluptates enim illum amet optio nemo facilis mollitia, corrupti praesentium perferendis obcaecati possimus.</P>
      <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto pariatur eligendi delectus ab porro non qui quia voluptates enim illum amet optio nemo facilis mollitia, corrupti praesentium perferendis obcaecati possimus.</P>
      <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto pariatur eligendi delectus ab porro non qui quia voluptates enim illum amet optio nemo facilis mollitia, corrupti praesentium perferendis obcaecati possimus.</P>
      <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto pariatur eligendi delectus ab porro non qui quia voluptates enim illum amet optio nemo facilis mollitia, corrupti praesentium perferendis obcaecati possimus.</P>
      <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto pariatur eligendi delectus ab porro non qui quia voluptates enim illum amet optio nemo facilis mollitia, corrupti praesentium perferendis obcaecati possimus.</P>
      <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto pariatur eligendi delectus ab porro non qui quia voluptates enim illum amet optio nemo facilis mollitia, corrupti praesentium perferendis obcaecati possimus.</P>
      <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto pariatur eligendi delectus ab porro non qui quia voluptates enim illum amet optio nemo facilis mollitia, corrupti praesentium perferendis obcaecati possimus.</P>
      <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto pariatur eligendi delectus ab porro non qui quia voluptates enim illum amet optio nemo facilis mollitia, corrupti praesentium perferendis obcaecati possimus.</P>
      <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto pariatur eligendi delectus ab porro non qui quia voluptates enim illum amet optio nemo facilis mollitia, corrupti praesentium perferendis obcaecati possimus.</P>
      <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto pariatur eligendi delectus ab porro non qui quia voluptates enim illum amet optio nemo facilis mollitia, corrupti praesentium perferendis obcaecati possimus.</P>
      <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto pariatur eligendi delectus ab porro non qui quia voluptates enim illum amet optio nemo facilis mollitia, corrupti praesentium perferendis obcaecati possimus.</P>
      <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto pariatur eligendi delectus ab porro non qui quia voluptates enim illum amet optio nemo facilis mollitia, corrupti praesentium perferendis obcaecati possimus.</P>
      <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto pariatur eligendi delectus ab porro non qui quia voluptates enim illum amet optio nemo facilis mollitia, corrupti praesentium perferendis obcaecati possimus.</P>
      <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto pariatur eligendi delectus ab porro non qui quia voluptates enim illum amet optio nemo facilis mollitia, corrupti praesentium perferendis obcaecati possimus.</P>
      <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto pariatur eligendi delectus ab porro non qui quia voluptates enim illum amet optio nemo facilis mollitia, corrupti praesentium perferendis obcaecati possimus.</P>
      <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto pariatur eligendi delectus ab porro non qui quia voluptates enim illum amet optio nemo facilis mollitia, corrupti praesentium perferendis obcaecati possimus.</P>
      <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto pariatur eligendi delectus ab porro non qui quia voluptates enim illum amet optio nemo facilis mollitia, corrupti praesentium perferendis obcaecati possimus.</P>
      <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto pariatur eligendi delectus ab porro non qui quia voluptates enim illum amet optio nemo facilis mollitia, corrupti praesentium perferendis obcaecati possimus.</P>
      <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto pariatur eligendi delectus ab porro non qui quia voluptates enim illum amet optio nemo facilis mollitia, corrupti praesentium perferendis obcaecati possimus.</P>
      <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto pariatur eligendi delectus ab porro non qui quia voluptates enim illum amet optio nemo facilis mollitia, corrupti praesentium perferendis obcaecati possimus.</P>
      <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto pariatur eligendi delectus ab porro non qui quia voluptates enim illum amet optio nemo facilis mollitia, corrupti praesentium perferendis obcaecati possimus.</P>
      <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto pariatur eligendi delectus ab porro non qui quia voluptates enim illum amet optio nemo facilis mollitia, corrupti praesentium perferendis obcaecati possimus.</P>
      <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto pariatur eligendi delectus ab porro non qui quia voluptates enim illum amet optio nemo facilis mollitia, corrupti praesentium perferendis obcaecati possimus.</P>
      <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto pariatur eligendi delectus ab porro non qui quia voluptates enim illum amet optio nemo facilis mollitia, corrupti praesentium perferendis obcaecati possimus.</P>
    </div>
    <div class="m-5 relative bottom-4 right-4 ">
      <div class="bg-blue-600 hover:bg-blue-800 h-10 w-16 flex items-center justify-center rounded-md">
        <button
          class=" text-white "
          (click)="onClose()"
        >
          Close
        </button>

      </div>
    </div>
  </div>
</div>