<p></p>
<div class="mt-4 overflow-y-auto max-h-90vh">
  <div class="flex justify-center text-2xl font-bold">
    Update User Information
  </div>
  <div class="flex justify-center">
    <div
      class="block p-4 rounded-lg shadow-lg bg-white max-w-xl scroll-container"
    >
      <form [formGroup]="contactForm" errorTailor (ngSubmit)="onSubmit()">
        <div class="grid grid-cols-2 gap-2">
          <mat-form-field class="">
            <mat-label>First Name</mat-label>
            <input
              class="placeholder-red-300"
              matInput
              formControlName="first_name"
              placeholder="First Name"
              value=""
            />
          </mat-form-field>
          <mat-form-field class="">
            <mat-label>Last Name</mat-label>
            <input
              matInput
              formControlName="last_name"
              placeholder="Last Name"
              value=""
            />
          </mat-form-field>
        </div>
        <mat-form-field class="w-full">
          <!-- <mat-form-field class="" > -->
          <mat-label>Email</mat-label>
          <input
            readonly
            matInput
            formControlName="email"
            placeholder="Email"
            value=""
          />
        </mat-form-field>
        <div class="w-full">
          <mat-form-field class="w-full">
            <mat-label>Address 1</mat-label>
            <input type="text"
                   placeholder="address"
                   aria-label="address"
                   matInput
                   formControlName="address1"
                   [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of address[0]" [value]="option.key">
                {{option.key}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field class="w-full">
            <mat-label>Address 2</mat-label>
            <input
              matInput
              formControlName="address2"
              placeholder=""
              value=""
            />
          </mat-form-field>
        </div>
        

        <div class="grid grid-cols-2 gap-2">
          <mat-form-field class="">
            <mat-label>Postal Code</mat-label>
            <input matInput formControlName="zipcode" placeholder="" value="" />
            <!-- [(ngModel)]="postalCode[0]" -->
          </mat-form-field>
          <mat-form-field class="">
            <mat-label>Phone Number</mat-label>
            <input
              appPhoneNumber
              matInput
              formControlName="phone_no"
              placeholder=""
              value=""
            />
          </mat-form-field>
        </div>

        <section class="">
          <button type="button" (click)="openTermsAndConditions()">
            <span class="text-blue-700">Terms and conditions & Privacy policy</span>
          </button>
          <mat-checkbox
            formControlName="subscribe"
            class=""
            [controlErrorsTpl]="termErrorTpl"
            >I Have read the terms and conditions and agreed!</mat-checkbox
          >
        </section>
        <ng-container
          *ngIf="contactForm.get('subscribe').value === false; else subscribe"
        >
        </ng-container>
        <section *ngIf="currentTitle !== 'offPrice'" class="">
          <mat-checkbox formControlName="seller" class=""
            ><span class="text-green-600 font-bold">Seller</span></mat-checkbox
          >
        </section>
        <ng-container *ngIf="currentTitle !== 'offPrice'">
          <ng-container
            *ngIf="contactForm.get('seller').value === false; else seller"
          >
          </ng-container>
        </ng-container>
        <div *ngIf="!disabled" class="flex justify-center space-x-4">
          <div
            class="py-2 px-4 rounded bg-blue-500 text-white hover:bg-blue-700"
          >
            <button type="submit">{{ mode }}</button>
            <!-- <button mat-raised-button color="primary" type="submit">{{mode}}</button> -->
          </div>
          <div
            class="py-2 px-4 rounded border border-green-400 bg-white text-black hover:bg-gray-200"
          >
            <button type="button" (click)="closeDialog()">Cancel</button>
            <!-- <button mat-raised-button color="primary" type="submit">{{mode}}</button> -->
          </div>
        </div>
        <ng-template #seller>
          <div class="p-4 w-full h-full bg-green-100">
            <div class="grid grid-cols-2 gap-2">
              <mat-form-field class="">
                <mat-label>Store Name</mat-label>
                <input
                  matInput
                  formControlName="store_name"
                  placeholder=""
                  value=""
                />
              </mat-form-field>
              <mat-form-field class="">
                <mat-label>Representative Name</mat-label>
                <input
                  matInput
                  formControlName="representative_name"
                  placeholder=""
                  value=""
                />
              </mat-form-field>
            </div>
            <div class="grid grid-cols-2 gap-2">
              <mat-form-field class="">
                <mat-label>Federal Tax ID (EIN)</mat-label>
                <input
                  matInput
                  formControlName="register_no"
                  placeholder=""
                  value=""
                  [controlErrorsTpl]="registerNoErrorTpl"
                />
              </mat-form-field>
              <mat-form-field class="">
                <mat-label>Representative Phone No</mat-label>
                <input
                  matInput
                  formControlName="representative_phone_no"
                  placeholder=""
                  value=""
                />
              </mat-form-field>
            </div>
            <section class="">
              <mat-checkbox (change)="checkSameValueAsAbove($event)" class=""
                >The same as above</mat-checkbox
              >
            </section>

            <div class="w-full">
              <mat-form-field class="w-full">
                <mat-label>Address 1</mat-label>
                <input type="text"
                       placeholder="Pick one"
                       aria-label="store_address"
                       matInput
                       formControlName="store_address1"
                       [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let option of address[1]" [value]="option.key">
                    {{option.key}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <mat-form-field class="w-full">
                <mat-label>Address 2</mat-label>
                <input
                  matInput
                  formControlName="store_address2"
                  placeholder=""
                  value=""
                />
              </mat-form-field>
            </div>
                <div class="grid grid-cols-2 gap-2">
              <mat-form-field class="">
                <mat-label>Store Postal Code</mat-label>
                <input
                  matInput
                  formControlName="store_zipcode"
                  placeholder=""
                  value=""
                />
                <!-- [(ngModel)]="postalCode[1]" -->
              </mat-form-field>
              <div></div>
            </div>
          </div>
        </ng-template>
      </form>
    </div>
  </div>
</div>
<div class="">
  <ng-template #tmplateName>
    <p>Are you sure?</p>
  </ng-template>
</div>

<ng-template #subscribe> </ng-template>
<ng-template #termErrorTpl let-control>
  <div class="text-red-600">You must agree to the terms and conditions.</div>
</ng-template>
<ng-template #registerNoErrorTpl let-control>
  <div class="text-red-600">Register Number need to be format.</div>
</ng-template>
