<div class="bg-gray-100 dark:bg-night-700">
  <div class="mx-auto px-2 flex justify-between">
    <div class="flex items-center py-2 justify-start">
    <!-- <div class="flex items-center justify-between py-3.5 md:justify-start"> -->
      <!-- Mobile Navigation Menu Button-->
      <div class="md:order-1 md:hidden">
        <button 
          (click)="toggleMobileMenu()"
          type="button"
          class="inline-flex items-center justify-center rounded-md border border-blue-600  bg-white p-2 text-gray-600 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-primary-500 hover:bg-gray-100 hover:text-gray-500 dark:bg-night-700 dark:text-night-200 dark:hover:text-night-400"
          aria-expanded="false"
        >
          <span class=" sr-only">Open menu</span>
          <!-- Heroicon name: outline/menu -->
          <svg-icon src="assets/icons/outline/menu.svg" [svgClass]="'h-6 w-6'" >
          </svg-icon>
        </button>
      </div>

      <div
        class="flex items-center justify-center w-10 h-10 rounded border border-blue-600"
      >
        <button mat-icon-button (click)="gotoHome()">
          <mat-icon class="text-blue-600 mt-2">home</mat-icon>
        </button>
      </div>
      <!-- Desktop Menu -->
      <!-- <div class="hidden space-x-10 sm:order-3 md:flex">
        <app-navbar-menu></app-navbar-menu>
      </div> -->
    </div>
    <!-- Logo -->
    <div class="flex items-center">
      <div
        class="flex items-center justify-center w-24 h-10 mr-6 border-2 border-blue-600 rounded-md bg-slate-50 md:hidden"
      >
        <span
          class="font-semibold text-xl  tracking-tight text-green-800"
          >Off<span class="text-2xl text-blue-700"
            >Price</span
          ></span
        >
      </div>
    </div>
    <div class="flex items-center justify-end">
      <div class="flex items-center justify-between">
        <div class="hidden sm:block mr-4">
          <div class="p-2 w-32 h-8 border border-blue-400 rounded  text-blue-600 flex items-center justify-start" >
            <div class="flex justify-between">
              <button type="button" class="" (click)="onRegister()">
                <span class="">Sell on offPrice</span>
              </button>
            </div>
          </div>
        </div>
        <div
          #refreshButton
          class="hidden sm:block text-blue-600 -mr-3 mt-3 sm:mr-3 sm:mt-3 cursor-pointer"
          (click)="openCart()"
        >
          <mat-icon [matBadge]="cart_badge_count" matBadgeColor="accent"
            >add_shopping_cart</mat-icon
          >
        </div>
        <div class="hidden sm:block">
          <!-- Toggle display mode grid or list -->
          <app-profile-menu></app-profile-menu>
        </div>
      </div>
      <!-- Profile menu -->
      <div class="items-center justify-end sm:order-4 md:flex md:flex-1 lg:w-0">
        <!-- <ng-container *ngIf="sSize !== 'XSmall'"> -->
        <div class="flex items-center justify-between">
          <div
            #refreshButton
            class="block sm:hidden text-blue-600 mt-3 mr-3 cursor-pointer"
            (click)="openCart()"
          >
            <mat-icon [matBadge]="cart_badge_count" matBadgeColor="accent"
              >add_shopping_cart</mat-icon
            >
          </div>
          <div class="block sm:hidden">
            <!-- Toggle display mode grid or list -->
            <app-profile-menu></app-profile-menu>
          </div>
        </div>
        <!-- </ng-container> -->
      </div>
    </div>
  </div>
  <!-- Mobile menu -->
  <div class="">
    <app-navbar-mobile></app-navbar-mobile>
  </div>
</div>
<div class="sm:hidden fixed-button fixed top-44 right-0 z-10">
  <button id="register-button" class="border border-blue-400 bg-white text-blue-600 text-sm w-6 h-32 rounded-l-lg cursor-pointer transition-colors duration-200 ease-in-out flex items-center justify-center hover:bg-gray-100">
    <div class="transform rotate-90 flex flex-row items-center justify-center space-x-1" (click)="onRegister()">
      <span>Sell</span>
      <span>on</span>
      <span>offPrice</span>
    </div>
  </button>
</div>
