<div class="bg-blue-600 dark:bg-night-700">
  <div class="mx-auto px-5">
    <div class="flex items-center justify-between py-3.5 md:justify-start">
      <!-- Mobile Navigation Menu Button-->
      <div class="sm:order-1 md:hidden">
        <button
          (click)="toggleMobileMenu()"
          type="button"
          class="inline-flex items-center justify-center rounded-md bg-white p-2 text-gray-400 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-primary-500 hover:bg-gray-100 hover:text-gray-500 dark:bg-night-700 dark:text-night-200 dark:hover:text-night-400"
          aria-expanded="false"
        >
          <span class="sr-only">Open menu</span>
          <!-- Heroicon name: outline/menu -->
          <svg-icon src="assets/icons/outline/menu.svg" [svgClass]="'h-6 w-6'">
          </svg-icon>
        </button>
      </div>

      <div class="flex items-center justify-center w-10 h-10 rounded bg-blue-800">
        <button mat-icon-button (click)="gotoHome()">
          <mat-icon class="text-white mt-2">home</mat-icon>
        </button>
      </div>
      <!-- Logo -->
      <div
        class="flex items-center justify-center w-28 h-12 sm:mr-6 sm:w-36 sm:h-12 border-2 border-blue-600 rounded-md bg-slate-50 sm:hidden"
      >
        <span class="font-semibold text-xl sm:text-2xl tracking-tight text-green-800"
          >Off<span class="text-2xl sm:text-3xl text-blue-700">Price</span></span
        >
      </div>
      <!-- Desktop Menu -->
      <div class="hidden space-x-10 sm:order-3 md:flex">
        <!-- <app-navbar-menu></app-navbar-menu> -->
      </div>

      <ng-container *ngIf="sSize === 'XSmall'">
        <div class="text-white w-14 overflow-x-hidden">
          {{ userName}}
        </div>
        <div #refreshButton class="text-white  -mr-3 mt-3  sm:mr-3 sm:mt-3 cursor-pointer" (click)="openCart()">
          <mat-icon [matBadge]="cart_badge_count" matBadgeColor="accent">add_shopping_cart</mat-icon>
        </div>
      </ng-container>
      <!-- Profile menu -->
      <div class="items-center justify-end sm:order-4 md:flex md:flex-1 lg:w-0">
        <ng-container *ngIf="sSize !== 'XSmall'">
          <div class="text-white w-18 mr-3 overflow-x-hidden">
            {{ userName}}
          </div>
            <div #refreshButton class="text-white  mt-3  sm:mr-3 sm:mt-3 cursor-pointer" (click)="openCart()">
            <mat-icon [matBadge]="cart_badge_count" matBadgeColor="accent">add_shopping_cart</mat-icon>
          </div>
        </ng-container>
          <!-- Toggle display mode grid or list -->
        <app-profile-menu></app-profile-menu>
      </div>
    </div>
  </div>
  <!-- Mobile menu -->
  <div class="">
    <app-navbar-mobile></app-navbar-mobile>
  </div>
</div>
