<!-- File upload -->
<div class="m-2 flex justify-between">
  <span style="color: red" *ngIf="message">{{ message }}</span>
  <!-- To prevent to change image in update mode -->
  <div *ngIf="registerStatus === 'create'" class="mb-3 w-full">
    <div class="flex justify-between">
      <div class="">
        <label
          for="formFile"
          class="mb-2 inline-block text-gray-700 "
          ><span class="text-xl font-bold">Select Image Files</span></label
        >
      </div>
      <div *ngIf="isLoading" class="mt=10">
        <mat-spinner diameter="35"></mat-spinner>
      </div>
      <!-- <div *ngIf="imgURLs.length > 0" class="h-6 w-24 rounded-md flex items-center justify-center text-white bg-green-600 hover:bg-green-800">
            <button (click)="onAddImage()">Add Image</button>
          </div> -->
    </div>
    <div class="file-upload">
      <label
        for="fileUpload"
        class="mb-2 inline-block text-neutral-700 "
        >Select images
      </label>
      <input
        id="formFile"
        #file
        type="file"
        multiple
        (change)="onSelectedImageFile($event)"
        id="formFile"
      />
    </div>
  </div>
  <div
    *ngIf="registerStatus === 'update'"
    class="m-auto mt-4 w-44 h-12 bg-white border border-green-600 rounded text-green-800 items-center flex justify-center text-xl"
  >
    Edit Mode
  </div>
</div>
<!-- Display Image -->
<mat-card class="">
  <div class="flex flex-col">
    <div class="flex justify-start space-x-1 mb-1">
      <ng-container *ngFor="let image of imgURLs; let i = index">
        <mat-card-content class="flex-shrink-0 w-12 h-16">
          <img
            (click)="selectImage(image)"
            [src]="image"
            class="w-full h-full object-cover cursor-pointer relative"
            *ngIf="image"
            alt="offprice.store"
          />
        </mat-card-content>
      </ng-container>
    </div>
    <div class="w-full h-auto mt-1">
      <ng-container *ngIf="imgURLs.length > 0">
        <ng-container *ngIf="this.registerStatus === 'create'">
          <div
            (click)="onDeleteImage()"
            class="absolute z-50 bg-red-400 rounded-sm text-white w-7 h-7 flex items-center justify-center cursor-pointer hover:bg-red-600"
          >
            <mat-icon>delete_forever</mat-icon>
          </div>
        </ng-container>
        <img
          [src]="selectedImage || imgURLs[0]"
          class="w-full h-auto object-cover"
          alt="offprice.store"
        />
      </ng-container>
      <ng-container *ngIf="imgURLs.length === 0">
        <img
          src="assets/images/need-image.jpg"
          class="w-auto h-auto object-fit"
          alt="offprice.store"
        />
      </ng-container>
    </div>
  </div>
</mat-card>
<!-- Display Image -->
