<!-- <app-loader></app-loader> -->
<div class="h-full">
  <div [ngClass]="{ dark: this.themeService.isDark }">
    <router-outlet></router-outlet>
    <!-- <app-responsive-helper></app-responsive-helper> -->
  </div>
  <div *ngIf="isLoading" class="h-screen flex items-center justify-center">
    <mat-spinner></mat-spinner>
  </div>

</div>
<div class="fixed-button">
  <button id="feedback-button">
    <span>Feedback</span>
  </button>
</div>

<div id="dialog-overlay" class="dialog-overlay">
  <div class="dialog-content">
    <div class="dialog-tabs">
      <a href="#" class="dialog-tab active" data-tab="tab1">Tab 1</a>
      <a href="#" class="dialog-tab" data-tab="tab2">Tab 2</a>
      <a href="#" class="dialog-tab" data-tab="tab3">Tab 3</a>
      <button id="close-btn" class="close-btn">&times;</button>
    </div>
    <div class="tab-content">
      <div id="tab1" class="tab-pane active">
        <p>Tab 1 content goes here...</p>
      </div>
      <div id="tab2" class="tab-pane">
        <p>Tab 2 content goes here...</p>
      </div>
      <div id="tab3" class="tab-pane">
        <p>Tab 3 content goes here...</p>
      </div>
    </div>
  </div>
</div>

