<nav
  [ngClass]="(showSideBar$ | async) ? 'w-52 xl:w-64' : 'w-[70px]'"
  class="scrollbar-thumb-rounded scrollbar-track-rounded hidden h-full flex-col justify-between overflow-auto bg-white pt-3 transition-all duration-300 scrollbar-thin scrollbar-track-gray-50 scrollbar-thumb-gray-100 dark:bg-night-700 dark:scrollbar-thumb-night-500 dark:scrollbar-track-night-600 lg:flex"
>
  <div class="px-4">
    <!-- Logo -->
    <div class="relative h-10">
      <div class="flex items-center" *ngIf="showSideBar$ | async">
        <div
          class="flex items-center justify-center mr-6 w-44 h-12 border-2 border-blue-600 rounded-md bg-slate-50"
        >
          <span class="font-semibold text-2xl tracking-tight text-green-800"
            >Jobber<span class="text-3xl text-blue-700">Shop</span></span
          >
        </div>
        <!-- <a class="flex items-center justify-center rounded bg-primary-500 p-2 focus:outline-none focus:ring-1">
          <svg-icon src="assets/icons/logo.svg"> </svg-icon>
        </a>
        <b class="ml-1 pl-2 text-sm font-bold dark:text-night-50">
          {{ appJson.name }}
        </b> -->
      </div>
      <button
        (click)="toggleSidebar()"
        class="absolute top-2 right-2 flex h-5 w-5 items-center justify-center rounded text-gray-400 transition-all duration-200 focus:outline-none hover:text-gray-500 dark:text-night-400 dark:hover:text-night-300"
        [ngClass]="{ 'rotate-180': !(showSideBar$ | async) }"
      >
        <svg-icon src="assets/icons/solid/chevron-double-left.svg">
          [svgClass]="'h-5 w-5'">
        </svg-icon>
      </button>
    </div>

    <!-- Separator -->
    <div class="pt-3">
      <hr class="border-dashed border-gray-200 dark:border-night-500" />
    </div>

    <!-- Menu Items -->
    <!-- component -->
    <!-- 
    FAQ - Frequently Asked Questions TailwindCSS Component
    with <details> and <summary> tag with custom [open] animation.
    Created by Surjith S M (@surjithctly)
    See more components: https://web3components.dev 
-->

    <div class="max-w-screen-xl mx-auto px-5 bg-white min-h-sceen">
      <div class="grid divide-y divide-neutral-200 max-w-xl mx-auto mt-8">

        <div class="py-2">
          <details class="group">
            <summary
              class="flex justify-between items-center font-medium cursor-pointer list-none"
            >
              <span> Category</span>
              <span class="transition group-open:rotate-180">
                <svg
                  fill="none"
                  height="24"
                  shape-rendering="geometricPrecision"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.5"
                  viewBox="0 0 24 24"
                  width="24"
                >
                  <path d="M6 9l6 6 6-6"></path>
                </svg>
              </span>
            </summary>
            <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
              <app-category></app-category>
            </p>
          </details>
        </div>
        <div class="py-2">
          <details class="group">
            <summary
              class="flex justify-between items-center font-medium cursor-pointer list-none"
            >
              <span> Size</span>
              <span class="transition group-open:rotate-180">
                <svg
                  fill="none"
                  height="24"
                  shape-rendering="geometricPrecision"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.5"
                  viewBox="0 0 24 24"
                  width="24"
                >
                  <path d="M6 9l6 6 6-6"></path>
                </svg>
              </span>
            </summary>
            <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
              <app-select-size></app-select-size>
            </p>
          </details>
        </div>
        <div class="py-2">
          <details class="group">
            <summary
              class="flex justify-between items-center font-medium cursor-pointer list-none"
            >
              <span> Price</span>
              <span class="transition group-open:rotate-180">
                <svg
                  fill="none"
                  height="24"
                  shape-rendering="geometricPrecision"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.5"
                  viewBox="0 0 24 24"
                  width="24"
                >
                  <path d="M6 9l6 6 6-6"></path>
                </svg>
              </span>
            </summary>
            <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
              <app-price></app-price>
            </p>
          </details>
        </div>
        <div class="py-2">
          <details class="group">
            <summary
              class="flex justify-between items-center font-medium cursor-pointer list-none"
            >
              <span> Material</span>
              <span class="transition group-open:rotate-180">
                <svg
                  fill="none"
                  height="24"
                  shape-rendering="geometricPrecision"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.5"
                  viewBox="0 0 24 24"
                  width="24"
                >
                  <path d="M6 9l6 6 6-6"></path>
                </svg>
              </span>
            </summary>
            <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
              <app-material></app-material>
            </p>
          </details>
        </div>
        <div class="py-2">
          <details class="group">
            <summary
              class="flex justify-between items-center font-medium cursor-pointer list-none"
            >
              <span> Search Period</span>
              <span class="transition group-open:rotate-180">
                <svg
                  fill="none"
                  height="24"
                  shape-rendering="geometricPrecision"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.5"
                  viewBox="0 0 24 24"
                  width="24"
                >
                  <path d="M6 9l6 6 6-6"></path>
                </svg>
              </span>
            </summary>
            <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
              <app-search-period></app-search-period>
            </p>
          </details>
        </div>
      </div>
    </div>
  </div>

  <div class="mx-4 my-4 space-y-1">
    <!-- Dark Theme -->
    <div
      (click)="toggleTheme()"
      class="group flex h-9 cursor-pointer items-center justify-start rounded p-2 hover:bg-gray-100 dark:hover:bg-night-600"
    >
      <svg-icon
        [src]="
          themeService.isDark
            ? 'assets/icons/outline/sun.svg'
            : 'assets/icons/outline/moon.svg'
        "
        [svgClass]="'h-5 w-5 text-gray-400 dark:text-night-400'"
      >
      </svg-icon>

      <a
        class="ml-3 truncate text-xs font-semibold tracking-wide text-gray-600 focus:outline-none dark:text-night-100"
      >
        {{ themeService.isDark ? "Light Theme" : "Dark Theme" }}
      </a>

      <div class="fixed w-full" *ngIf="!(showSideBar$ | async)">
        <span
          class="z-1 absolute left-12 -top-4 w-auto min-w-max origin-left scale-0 rounded-md bg-black p-2 text-xs font-bold text-white shadow-md transition-all duration-200 group-hover:scale-100 dark:bg-white dark:text-night-900"
        >
          Theme
        </span>
      </div>
    </div>
    <!-- Sign out -->
    <div
      class="group flex h-9 cursor-pointer items-center justify-start rounded p-2 hover:bg-gray-100 dark:hover:bg-night-600"
    >
      <svg-icon
        src="assets/icons/outline/logout.svg"
        [svgClass]="'h-5 w-5 text-gray-400 dark:text-night-400'"
      >
      </svg-icon>

      <a
        routerLink="/auth"
        class="ml-3 truncate text-xs font-semibold tracking-wide text-gray-600 focus:outline-none dark:text-night-100"
      >
        Sign out
      </a>

      <div class="fixed w-full" *ngIf="!(showSideBar$ | async)">
        <span
          class="z-1 absolute left-12 -top-4 w-auto min-w-max origin-left scale-0 rounded-md bg-black p-2 text-xs font-bold text-white shadow-md transition-all duration-200 group-hover:scale-100 dark:bg-white dark:text-night-900"
        >
          Sign out
        </span>
      </div>
    </div>
    <!-- Version -->
    <div
      class="group flex h-9 cursor-pointer items-center justify-start rounded p-2 hover:bg-gray-100 dark:hover:bg-night-600"
    >
      <svg-icon
        src="assets/icons/outline/information-circle.svg"
        [svgClass]="'h-5 w-5 text-gray-400 dark:text-night-400'"
      >
      </svg-icon>

      <a
        target="_blank"
        href="https://github.com/luciano-work/angular-tailwind"
        class="ml-3 truncate text-[10px] font-semibold tracking-wide text-gray-600 focus:outline-none dark:text-night-100"
      >
        <!-- <span class="rounded-lg bg-yellow-400/10 px-2 font-semibold text-yellow-500">v{{ appJson.version }}</span> -->
      </a>

      <div class="fixed w-full" *ngIf="!(showSideBar$ | async)">
        <span
          class="z-1 absolute left-12 -top-4 w-auto min-w-max origin-left scale-0 rounded-md bg-black p-2 text-xs font-bold text-white shadow-md transition-all duration-200 group-hover:scale-100 dark:bg-white dark:text-night-900"
        >
          <!-- v{{ appJson.version }} -->
        </span>
      </div>
    </div>
  </div>
</nav>
