<ng-container *ngIf="this.item?.image_url">
  <div class="flex flex-col h-full">
    <div class="overflow-y-auto max-h-[calc(100vh-3rem)] p-4">
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-2">
        <!-- Left Column: Image -->
        <div class="">
          <img [src]="item.image_url" alt="Product Image" class="w-full object-cover object-center">
        </div>
    
        <!-- Right Column: Product Details -->
        <div class="col-span-1 flex flex-col ">
          <div class="flex-grow">
            <h2 class="text-xl font-semibold text-blue-600">{{item.product_name}}</h2>
            <p class="mt-1">Category: <span class="font-bold">{{item.category}}</span></p>
            <p class="mt-1">Price: <span class="font-bold">${{item.price}}</span></p>
            <p class="mt-1">Quantity: <span class="font-bold">{{item.count}}</span></p>
            <p class="mt-1">Size: <span class="font-bold">{{item.size}}</span></p>
            <p class="mt-1">Vendor: <span class="font-bold">{{item.vendor}}</span></p>
            <p class="mt-1">Material: <span class="font-bold">{{item.material}}</span></p>
            <p class="mt h-36 overflow-y-auto">
              <app-html-content [content]="item.description"></app-html-content>
            </p>
            <p class="text-gray-400">--------------------------------------------------------------------------</p>
            <p class="mt-1">Store Name: <span class="font-bold">{{item.store_name}}</span></p>
            <p class="mt-1">Register No: <span class="font-bold">{{item.register_no}}</span></p>
            <p class="mt-1">Email: <span class="font-bold">{{item.email}}</span></p>
            <p class="mt-1">Phone No: <span class="font-bold">{{item.representative_phone_no}}</span></p>
            <p class="mt-1">Representative: <span class="font-bold">{{item.representative_name}}</span></p>
            <p class="mt-1">Store Address: <span class="font-bold">{{item.store_address1}} {{item.store_address2}} {{item.store_city}} {{item.store_state}} {{item.store_country}}</span></p>
            
          </div>
          <!-- <div class="mt-4 divide-y divide-solid">
            <p class="hidden md:block mt-5">Description</p>
          </div> -->
          <div class="p-4">
            <ng-container *ngIf="!isCartItemExist">
              <button class="bg-green-600 text-white px-4 py-2 rounded mr-1"(click)="onSave()">
                <!-- <div class="mt-1">
                  <mat-icon>add_shopping_cart</mat-icon>
                </div> -->
                Save to Cart
              </button>
            </ng-container>
            <ng-container *ngIf="isCartItemExist">
              <button class="bg-red-400 text-white border-red-600 border-2 text-black px-4 py-2 rounded mr-1" (click)="onDelete()">
                Delete
              </button>
            </ng-container>
            <button class="bg-white border-green-600 border-2 text-black px-4 py-2 rounded"(click)="onClose()">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
