<div class="m-2">
  <h2 class="ml-1 text font-bold text-gray-600">Categories 
    <mat-icon [tp]="tpl" tpVariation="popper" tpPlacement="bottom"><span class="cursor-pointer text-sm">help</span></mat-icon></h2>

  <div class="bg-gray-100 flex items-center">
    <div class="">
      <div cdkMenuBar class="inline-flex flex-wrap">
        <!-- <ng-container *ngFor="let button of tgroups"> -->
          <ng-container *ngFor="let button of tgroups">
            <button cdkMenuItem [cdkMenuTriggerFor]="getTemplate(button.id)" 
              class="mt-1 border border-blue-500 rounded-full px-2 mx-1 text-gray-600 hover:text-blue-600 focus:outline-none focus:border-blue-500 active:text-blue-500 button-group"
              [value]="button"
              >
              <span class="">{{ button.key }}</span>
            </button>
          </ng-container>
      </div>
    </div>
  </div>
  <h2 class="mt-4 text font-bold text-gray-600">Selected Category Menu</h2>
  <div class="flex flex-wrap">
    <ng-container *ngFor="let cat of selectedCategories">
      <button class="mt-2 border border-green-500 rounded-full px-2 mx-1  hover:text-blue-600 focus:outline-none focus:border-blue-500 active:text-blue-500 button-group"
        [value]="cat"
        >
        <div class="flex items-center">
          <span class="text-sm text-gray-400">{{cat.group}}</span>
          <span class="">{{ cat.category }}</span>
          <button (click)="removeCategoryMenu(cat)">
            <mat-icon class="ml-2 mt-1 text-gray-400">cancel</mat-icon>
          </button>
        </div>
      </button>
    </ng-container>
  </div>
  <ng-container *ngIf="selectedCategories.length > 0">
    <button type="button" class="bg-green-600 hover:bg-green-800 text-white ml-2 py-2 px-4 rounded-md mt-2" (click)="onSaveCategoryMenu()">Save Category Menu</button>
  </ng-container>
</div>
<!-- Women -->
<ng-template #Tops> 
  <div class="category-submenu " cdkMenu>
    <button *ngFor="let item of getItemList('1')" class="category-submenu-item" cdkMenuItem (click)="onSelect(item)">{{item.key}}</button>
  </div>
</ng-template>

<ng-template #Bottoms>
  <div class="category-submenu" cdkMenu>
    <button *ngFor="let item of getItemList('2')" class="category-submenu-item" cdkMenuItem (click)="onSelect(item)">{{item.key}}</button>
  </div>
</ng-template>

<ng-template #Dresses >
  <div class="category-submenu" cdkMenu>
    <button *ngFor="let item of getItemList('3')" class="category-submenu-item" cdkMenuItem (click)="onSelect(item)">{{item.key}}</button>
  </div>
</ng-template>

<ng-template #Outerwear >
  <div class="category-submenu" cdkMenu>
    <button *ngFor="let item of getItemList('4')" class="category-submenu-item" cdkMenuItem (click)="onSelect(item)">{{item.key}}</button>
  </div>
</ng-template>

<ng-template #Activewear >
  <div class="category-submenu" cdkMenu>
    <button *ngFor="let item of getItemList('5')" class="category-submenu-item" cdkMenuItem (click)="onSelect(item)">{{item.key}}</button>
  </div>
</ng-template>

<ng-template #Jumpsuits >
  <div class="category-submenu" cdkMenu>
    <button *ngFor="let item of getItemList('6')" class="category-submenu-item" cdkMenuItem (click)="onSelect(item)">{{item.key}}</button>
  </div>
</ng-template>

<ng-template #Swimwear >
  <div class="category-submenu" cdkMenu>
    <button *ngFor="let item of getItemList('7')" class="category-submenu-item" cdkMenuItem (click)="onSelect(item)">{{item.key}}</button>
  </div>
</ng-template>

<ng-template #Plussize >
  <div class="category-submenu" cdkMenu>
    <button *ngFor="let item of getItemList('8')" class="category-submenu-item" cdkMenuItem (click)="onSelect(item)">{{item.key}}</button>
  </div>
</ng-template>

<ng-template #Sweaters >
  <div class="category-submenu" cdkMenu>
    <button *ngFor="let item of getItemList('9')" class="category-submenu-item" cdkMenuItem (click)="onSelect(item)">{{item.key}}</button>
  </div>
</ng-template>

<ng-template #Lingerie >
  <div class="category-submenu" cdkMenu>
    <button *ngFor="let item of getItemList('10')" class="category-submenu-item" cdkMenuItem (click)="onSelect(item)">{{item.key}}</button>
  </div>
</ng-template>

<ng-template #Loungewear >
  <div class="category-submenu" cdkMenu>
    <button *ngFor="let item of getItemList('11')" class="category-submenu-item" cdkMenuItem (click)="onSelect(item)">{{item.key}}</button>
  </div>
</ng-template>

<ng-template #Suits >
  <div class="category-submenu" cdkMenu>
    <button *ngFor="let item of getItemList('12')" class="category-submenu-item" cdkMenuItem (click)="onSelect(item)">{{item.key}}</button>
  </div>
</ng-template>

<ng-template #Partywear >
  <div class="category-submenu" cdkMenu>
    <button *ngFor="let item of getItemList('13')" class="category-submenu-item" cdkMenuItem (click)="onSelect(item)">{{item.key}}</button>
  </div>
</ng-template>

<!-- Men -->
<ng-template #m_Activewear >
  <div class="category-submenu" cdkMenu>
    <button *ngFor="let item of getItemList('1')" class="category-submenu-item" cdkMenuItem (click)="onSelect(item)">{{item.key}}</button>
  </div>
</ng-template>
<ng-template #m_Jeans >
  <div class="category-submenu" cdkMenu>
    <button *ngFor="let item of getItemList('2')" class="category-submenu-item" cdkMenuItem (click)="onSelect(item)">{{item.key}}</button>
  </div>
</ng-template>
<ng-template #m_Outerwear >
  <div class="category-submenu" cdkMenu>
    <button *ngFor="let item of getItemList('3')" class="category-submenu-item" cdkMenuItem (click)="onSelect(item)">{{item.key}}</button>
  </div>
</ng-template>
<ng-template #m_Casual >
  <div class="category-submenu" cdkMenu>
    <button *ngFor="let item of getItemList('4')" class="category-submenu-item" cdkMenuItem (click)="onSelect(item)">{{item.key}}</button>
  </div>
</ng-template>
<ng-template #m_Shorts >
  <div class="category-submenu" cdkMenu>
    <button *ngFor="let item of getItemList('5')" class="category-submenu-item" cdkMenuItem (click)="onSelect(item)">{{item.key}}</button>
  </div>
</ng-template>
<ng-template #m_Sweater >
  <div class="category-submenu" cdkMenu>
    <button *ngFor="let item of getItemList('6')" class="category-submenu-item" cdkMenuItem (click)="onSelect(item)">{{item.key}}</button>
  </div>
</ng-template>
<ng-template #m_Swimwear >
  <div class="category-submenu" cdkMenu>
    <button *ngFor="let item of getItemList('7')" class="category-submenu-item" cdkMenuItem (click)="onSelect(item)">{{item.key}}</button>
  </div>
</ng-template>
<ng-template #m_Tops >
  <div class="category-submenu" cdkMenu>
    <button *ngFor="let item of getItemList('8')" class="category-submenu-item" cdkMenuItem (click)="onSelect(item)">{{item.key}}</button>
  </div>
</ng-template>

<!-- Kids -->
<ng-template #k_Girls >
  <div class="category-submenu" cdkMenu>
    <button *ngFor="let item of getItemList('1')" class="category-submenu-item" cdkMenuItem (click)="onSelect(item)">{{item.key}}</button>
  </div>
</ng-template>
<ng-template #k_Boys >
  <div class="category-submenu" cdkMenu>
    <button *ngFor="let item of getItemList('2')" class="category-submenu-item" cdkMenuItem (click)="onSelect(item)">{{item.key}}</button>
  </div>
</ng-template>
<!-- Help -->
<ng-template #tpl let-hide>
  <video class="w-96" controls="">
    <source
      src="https://wsjung0516.s3.us-west-1.amazonaws.com/offprice/design-category-menu-2023-06-27.mp4"
      type="video/mp4"
    />
  </video>
  <div class="">
    <h3 class="text-blue-600">Design Category Menu</h3>
    <ul class="list-decimal ml-6">
      <li>
        This feature allows sellers to easily, quickly, and accurately register
        their products by specifying the categories commonly used by users.
      </li>
      <li>
        Sellers search for the categories they commonly use from the existing
        registered categories.
      </li>
      <li>
        Click on the found category, and it will be displayed in the "Selected
        Category Menu".
      </li>
      <li>
        If multiple items need to be selected, repeat the above step (Step 3)
        for each item.
      </li>
      <li>
        To remove a selected item from the list, click the "close button" of the
        selected category, and it will be removed from the selected list.
      </li>
      <li>
        After selecting all the relevant categories, click the "Save Category
        Menu" button.
      </li>
      <li>
        To verify if the saved result has been properly reflected, click the
        "Register" button in the top menu.
      </li>
      <li>
        Press the Refresh button on the redirected page to navigate to the
        product registration screen.
      </li>
      <li>Check the menu for Category2 on the product registration screen.</li>
    </ul>
  </div>
</ng-template>