<p>user works!</p>
<div class="">
  <div class="ml-2">
    <form [formGroup]="userForm">
      <div class="-mb-3 flex justify-between md:w-1/2 lg:w-1/3">
        <mat-form-field appearance="outline">
          <mat-label>Category</mat-label>
          <mat-select formControlName="selectedValue" name="state">
            <!-- <mat-option></mat-option> -->
            <mat-option
              *ngFor="let state of categoryColumns "
              [value]="state"
              >{{ state }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Search Data</mat-label>
          <input
            formControlName="searchValue"
            matInput
            placeholder="example: maria"
            #input
          />
          <!-- (keyup)="applyFilter($event)" -->
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Gender</mat-label>
          <mat-select formControlName="gender" name="state">
            <!-- <mat-option></mat-option> -->
            <mat-option value="None">None</mat-option>
            <mat-option value="Male">Male</mat-option>
            <mat-option value="Female">Female</mat-option>
            <mat-option value="GenderX">GenderX</mat-option>
          </mat-select>
        </mat-form-field>
        <div class="ml-2">
          <button type="button" matTooltip="Create User"
            mat-icon-button
            class="rounded-lg text-white my-4 w-8 h-6 bg-green-500"
          >
            <!-- <mat-icon (click)="onCreatedUser()">add</mat-icon> -->
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="w-1/2">
    <div class="ml-2 overflow-auto rounded-lg shadow mat-elevation-z8">
      <table class="w-full" mat-table [dataSource]="dataSource" matSort>
        <!--  -->
        <ng-container *ngFor="let column of displayedColumns; let i = index">
          <ng-container [matColumnDef]="column">
            <!-- <ng-container *ngIf="i !== 0"> -->
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{ displayedTitle[i] }}
              </th>
            <!-- </ng-container> -->
            <ng-container *ngIf="column !== 'action'  ">
              <td mat-cell *matCellDef="let row">{{ row[column] }}</td>
            </ng-container>
            <ng-container *ngIf="column === 'action'">
              <td mat-cell *matCellDef="let row">
                <a mat-icon-button class="text-green-400" matTooltip="Edit User">
                  <mat-icon (click)="onUpdatedUser(row)">edit</mat-icon>
                </a>
                <a mat-icon-button class="text-red-400" matTooltip="Delete User">
                  <mat-icon (click)="onDeletedUser(row)">delete</mat-icon>
                </a>
              </td>
            </ng-container>
          </ng-container>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns" (dblclick)="onDisplayUser(row)"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            No data matching the filter "{{ input.value }}"
          </td>
        </tr>
      </table>

      <mat-paginator
        [pageSize]="pageSize"
        [hidePageSize]="true"
        aria-label="Select page of users"
        [showFirstLastButtons]="true"
      ></mat-paginator>
    </div>
  </div>
</div>