@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
// 
@import '~tippy.js/dist/tippy.css';
@import '~tippy.js/themes/light.css';
@import '~tippy.js/animations/scale.css';

/** Scroll bar **/
@supports selector(::-webkit-scrollbar) {
	.supports-scrollbars\: pr-2 {
		padding-right: 0.5rem;
	}
}

/** Plugins **/
@import './assets/styles/apexchart.scss';

// html, body { height: 100%; }
// body { margin: 0; padding:0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body {
	height: calc(100vh - 1px); // 변경
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.control-error {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 12px;
  color: #dc3545;
}
//  
/* snack-bar.service.ts */
/* Appearance Fill: */
/* Info */
.mat-mdc-snack-bar-container.snackbar-type-fill-info .mdc-snackbar__surface {
	@apply bg-gray-600 #{'!important'};
}

/* Success */
.mat-mdc-snack-bar-container.snackbar-type-fill-success .mdc-snackbar__surface {
	@apply bg-green-600 #{'!important'};
}

/* Error */
.mat-mdc-snack-bar-container.snackbar-type-fill-error .mdc-snackbar__surface {
	@apply bg-red-600 #{'!important'};
}

.mat-mdc-snack-bar-container.snackbar-type-fill-info .mdc-snackbar__surface,
.mat-mdc-snack-bar-container.snackbar-type-fill-success .mdc-snackbar__surface,
.mat-mdc-snack-bar-container.snackbar-type-fill-error .mdc-snackbar__surface,
.mat-mdc-snack-bar-container .mdc-snackbar__label {
	@apply text-white #{'!important'};
	.mat-mdc-button {
			@apply text-white #{'!important'};
	}
}

/* Appearance Outline: */
/* Info */
.mat-mdc-snack-bar-container.snackbar-type-outline-info .mdc-snackbar__surface {
	@apply bg-gray-100 ring-1 ring-gray-400 ring-inset #{'!important'};
	@apply text-gray-700 #{'!important'};
}

/* Success */
.mat-mdc-snack-bar-container.snackbar-type-outline-success .mdc-snackbar__surface {
	@apply bg-green-50 ring-1 ring-green-400 ring-inset #{'!important'};
	@apply text-green-700 #{'!important'};
}

/* Error */
.mat-mdc-snack-bar-container.snackbar-type-outline-error .mdc-snackbar__surface {
	@apply bg-red-50 ring-1 ring-red-400 ring-inset #{'!important'};
	@apply text-red-700 #{'!important'};
}

/* Appearance Soft: */
/* Info */
.mat-mdc-snack-bar-container.snackbar-type-soft-info .mdc-snackbar__surface {
	@apply bg-gray-100 #{'!important'};
	@apply text-gray-700 #{'!important'};
}

/* Success */
.mat-mdc-snack-bar-container.snackbar-type-soft-success .mdc-snackbar__surface {
	@apply bg-green-50 #{'!important'};
	@apply text-green-700 #{'!important'};
}

/* Error */
.mat-mdc-snack-bar-container.snackbar-type-soft-error .mdc-snackbar__surface {
	@apply bg-red-50 #{'!important'};
	@apply text-red-700 #{'!important'};
}

/* Common */
.mat-mdc-snack-bar-container.snackbar-type-outline-info .mdc-snackbar__surface,
.mat-mdc-snack-bar-container.snackbar-type-outline-success .mdc-snackbar__surface,
.mat-mdc-snack-bar-container.snackbar-type-outline-error .mdc-snackbar__surface,
.mat-mdc-snack-bar-container.snackbar-type-soft-info .mdc-snackbar__surface,
.mat-mdc-snack-bar-container.snackbar-type-soft-success .mdc-snackbar__surface,
.mat-mdc-snack-bar-container.snackbar-type-soft-error .mdc-snackbar__surface,
.mat-mdc-snack-bar-container .mdc-snackbar__label {
	@apply text-white #{'!important'};
	.mat-mdc-button {
			@apply text-white #{'!important'};
	}
}
