<ng-container *ngIf="sSize !== 'XSmall'">
  <div class="">
    <div class="w-full mt-3 flex justify-between">
      <div class="flex items-center justify-start space-x-2">
        <div class="w-80">
          <div class="relative">
            <ng-container *ngTemplateOutlet="showInputButton"></ng-container>
          </div>
        </div>

        <ng-container *ngTemplateOutlet="showChips"></ng-container>
        <p class="">{{ searchItemLength }}</p>
      </div>
      <!-- display mode toggle -->
      <div class="flex items-center">
        <button
          class="w-10 h-10 border border-blue-600 rounded-md bg-white text-blue-600"
          mat-icon-button
          aria-label="off price store"
          (click)="toggleDisplayMode()"
        >
          <div class="mt-2">
            <ng-container *ngIf="displayMode === 'grid'; else list">
              <mat-icon>format_list_numbered</mat-icon>
            </ng-container>
            <ng-template #list>
              <mat-icon>grid_on</mat-icon>
            </ng-template>
          </div>
        </button>
      </div>
      <!-- display mode toggle -->
    </div>
  </div>
</ng-container>
<!-- <ng-container *ngIf="currentScreenSize === 'XSmall'"> -->
<ng-container *ngIf="sSize === 'XSmall'">
  <div class="flex justify-around">
    <div *ngIf="!showMobileMenu()" class="w-4/5">
      <div class="relative">
        <ng-container *ngTemplateOutlet="showInputButton"></ng-container>
      </div>
    </div>
    <!-- display mode toggle -->
    <div class="flex items-center">
      <button
        class="w-10 h-10 rounded-md bg-white-600 text-blue-600 border border-blue-600"
        mat-icon-button
        aria-label="off price store"
        (click)="toggleDisplayMode()"
      >
        <div class="mt-2">
          <ng-container *ngIf="displayMode === 'grid'; else list">
            <mat-icon>format_list_numbered</mat-icon>
          </ng-container>
          <ng-template #list>
            <mat-icon>grid_on</mat-icon>
          </ng-template>
        </div>
      </button>
    </div>
    <!-- display mode toggle -->
  </div>

  <div *ngIf="showMobileMenu()" class="w-full">
    <div class="-mt-12"></div>
  </div>
  <div class="ml-5 mb-4">
    <div
      class="mt-2 space-x-1 text-xs font-medium text-gray-400 dark:text-night-300"
    >
      <div class="flex justify-start space-x-2">
        <ng-container *ngTemplateOutlet="showChips"></ng-container>
        <p class="font-bold">{{ searchItemLength }}</p>
      </div>
    </div>
  </div>
</ng-container>
<!-- Search input button -->
<ng-template #showInputButton>
  <app-input-keyword></app-input-keyword>
</ng-template>
<!-- chips -->
<ng-template #showChips>
  <mat-chip-listbox class="mat-chip-list-wrapper">
    <mat-chip class=""
      *ngFor="let keyword of keywords"
      (removed)="removeChipsKeyword(keyword)"
    >
      {{ keyword["value"] }}
      <button matChipRemove aria-label="'remove ' + keyword">
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip>
  </mat-chip-listbox>
</ng-template>
