<div>
  <div>
    <!-- Mobile Device -->
    <ng-container *ngIf="sSize === 'XSmall'">
      <!-- If chips are exist, space is expended to show -->
        <div *ngIf="keywords.length > 0">
          <div class="xsmall_box">
          </div>
        </div>

        <ng-container *ngTemplateOutlet="showImage"></ng-container>
      <!-- Desktop Device -->
    </ng-container>
    <ng-container *ngIf="sSize !== 'XSmall'">
      <div class="">
        <ng-container *ngTemplateOutlet="showImage"></ng-container>
      </div>
    </ng-container>
  </div>
  <button *ngIf="showScrollToTop" id="scrollToTop" class="fixed bottom-4 right-4 z-50 p-2 bg-blue-500 text-white rounded-full focus:outline-none" title="Scroll to Top" (click)="scrollToTop()">
    ↑
  </button>
  
</div>
<ng-template #showImage>
  <!-- <div class="mt-40" > -->

  <!-- <div [ngClass]="sSize === 'XSmall' ? 'xsmall_size' : 'small_size'"> -->
  <div >
    <cdk-virtual-scroll-viewport
      (scrolledIndexChange)="onScroll($event)"
      [itemSize]="itemSize"
      class="viewport" #viewport
    >
    <div class="grid grid-cols-2 gap-1 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6">
      <div *cdkVirtualFor="let image of images" class="image-container">
        <div class="h-88 bg-green-100" (click)="selectImage(image)">
          <mat-card>
            <mat-card-content>
              <div class="relative w-full h-52 sm:h-56 md:h-60 lg:h-64 xl:72 2xl:h-80 overflow-hidden cursor-pointer">
                <img
                  [src]="image.image_url"
                  alt="offprice.store"
                  class="rounded-md mx-auto max-w-full h-full object-cover object-center"
                />
              </div>
            </mat-card-content>
            <mat-card-footer>
              <div class="text-center">
                <p>{{ image.vendor }}</p>
                <p>{{ image.size }}</p>
                <p>{{ image.price }}</p>
              </div>
            </mat-card-footer>
          </mat-card>
        </div>
      </div>
    </div>
    </cdk-virtual-scroll-viewport>
  </div>
</ng-template>

